[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
build = "python main.py"

[dev-packages]

[packages]
requests = "*"
feedparser = "*"
pytz = "*"
yagmail = "*"
markdown = "*"

[requires]
python_version = "*"
